{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="mt-4 col-12 row">
        <div class="mt-5 col-12"  id="articleDisplay" >

                <div class="mt-4">
                    <p class="alert-danger">Please verify your email to continue</p>
                </div>
            </div>
        </div>
{% endblock %}
